* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  max-width: 1100px;
  margin: 0rem auto;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: white;
  position: sticky;
  top: 0;
  z-index: 20;
  padding: 0.25rem 1rem;
}

.brandTitle {
  font-size: 1.5rem;
  margin: 0.5rem;
  font-family: cursive;
}

.navbarLinks {
  height: 100%;
}

.navbarLinks ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbarLinks li {
  list-style: none;
}

.navbarLinks li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbarLinks li:hover {
  background-color: #555;
}
.last {
  margin: 1rem 2rem 0 0;
  background-color: inherit;
  border: none;
  color: inherit;
  font-size: 1rem;
  padding: 0 0 0 1rem;
}

.toggleButton {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  background-color: inherit;
  border: none;
}

.toggleButton .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 0.1rem;
}

.bottom {
  display: none;
}

@media (max-width: 480px) {
  .navbar {
    max-width: 400px;
    justify-content: center;
  }
  .navbarLinks {
    display: none;
  }
}
