.heading {
  text-align: center;
  font-family: cursive;
  font-size: 2.5rem;
}
.card {
  width: 420px;
  height: auto;
  border: 0.1rem solid #000;
  margin: 1rem auto;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  color: #000;
  text-align: center;
}
.inputs {
  font-weight: 500;
  margin-bottom: 1rem;
}
input {
  width: 65%;
  padding: 0.5rem;
  border: 0.1rem solid #000;
  margin-left: 0.5rem;
}
input[type="password"] {
  margin-left: 1.1rem;
}
input[type="submit"] {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 70%;
}
.btn {
  border: none;
  margin: 0.1rem;
  font-size: 1.3rem;
  background-color: #000;
  color: #fff;
  border: 0.1rem solid black;
  cursor: pointer;
}
.btn:hover {
  background-color: #fff;
  color: #000;
  border: 0.1rem solid #000;
}

@media (max-width: 480px) {
  .heading {
    font-size: 2rem;
  }
  .card {
    width: 320px;
    padding: 0.7rem;
    font-size: 1rem;
  }
  input[type="password"] {
    margin-left: 1rem;
  }
}
