@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  background-color: rgb(250, 250, 250);
  scroll-behavior: smooth;
}
h1 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

Link {
  text-decoration: none;
  color: black;
}
