.main {
  max-width: 700px;
  margin: 0.5rem auto;
}
.userProfile {
  height: 40vh;
  /* background-color: #333; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
  border: 0.1rem solid rgb(219, 219, 219);
}
.leftSide {
  flex-basis: 45%;
  /* background-color: #ccc; */
  padding: 0.5rem;
  height: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightSide {
  flex-basis: 55%;
  padding: 0.5rem;
  height: 100%;
  position: relative;
  width: 100%;
  margin-left: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.name {
  font-size: 2.2rem;
  font-weight: 400;
  margin-left: 0.5rem;
}
.username {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 1rem;
}
.moblie {
  display: none;
}
.followers {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 1rem;
}
.followersBtn {
  font-weight: bold;
}
.followersBtn:hover {
  padding: 0.25rem;
  background-color: grey;
}
.location {
  font-size: 1rem;
  margin: 0.5rem;
  margin-left: 1rem;
}
.description {
  font-size: 1.25rem;
  font-weight: 400;
  margin-left: 2.7rem;
}
.descriptionIcon {
  position: absolute;
  font-size: 1.5rem;
  margin-left: 1rem;
}
.btn {
  border: none;
  margin: 0.1rem;
  font-size: 1.2rem;
  background-color: #000;
  color: #fff;
  border: 0.1rem solid black;
  padding: 0.3rem 0.6rem;
  margin-left: 1rem;
  margin-top: 0.3rem;
}
.btn:hover {
  background-color: #fff;
  color: #000;
  border: 0.1rem solid #000;
}

/* posts */
.posts {
  max-width: 600px;
  margin: 0.9rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post {
  width: 410px;
  height: 500px;
  border: 0.1rem solid rgb(219, 219, 219);
  margin: 0.5rem;
  border-radius: 1rem;
}
.postUser {
  padding: 0.2rem;
  height: 10%;
  box-sizing: border-box;
  position: relative;
}
.postProfile {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-top: 0.3rem;
  margin-left: 0.3rem;
}
.postName {
  font-size: 1.25rem;
  font-weight: 500;
  position: absolute;
  top: 0.2rem;
}
.postUsername {
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  bottom: 0.5rem;
  color: darkslategrey;
}
.postImage {
  height: 76%;
  width: 100%;
}
.postBottom {
  position: relative;
  padding: 0.5rem;
  height: auto;
}
.like {
  font-size: 1.5rem;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
}
.likeCount {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 0.5rem;
  padding-bottom: 0.2rem;
}
.postDescription {
  font-size: 0.9rem;
  margin-left: 2.3rem;
}

/* responsive */
@media (max-width: 480px) {
  .main {
    max-width: 480px;
    margin: 0.5rem auto;
  }
  .userProfile {
    margin: 0.5rem;
  }
  .leftSide {
    flex-basis: 35%;
  }
  .rightSide {
    flex-basis: 65%;
  }
  .name {
    font-size: 1.5rem;
    margin-left: 0.7rem;
  }
  .username {
    font-size: 1rem;
    margin-left: 0.8rem;
  }
  .moblie {
    display: block;
  }
  .followers {
    font-size: 1rem;
    font-weight: 400;
    margin: 0.9rem;
  }
  .followersBtn:hover {
    padding: 0.2rem;
  }
  .description {
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 2.6rem;
  }
  .descriptionIcon {
    position: absolute;
    font-size: 1.45rem;
    margin-left: 1rem;
  }
  .btn {
    margin: 0.1rem;
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
  }

  .posts {
    max-width: 480px;
    margin: 0.9rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.5rem;
  }
  .post {
    width: 350px;
    height: 500px;
    border: 0.1rem solid rgb(219, 219, 219);
    margin: 0.5rem;
    border-radius: 1rem;
  }
  .postDescription {
    font-size: 0.9rem;
    margin-left: 2.4rem;
  }
}
